 @font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*, body {
	line-height:1.42857143 !important;
	background-color: #000 !important;
	color: #e3e1e1 !important;
	font-family: Courier New, monospace !important;
	font-size: 15px !important;
}


:focus{
	border: 1px solid #f7f6f6;
}
table, td, th, tr, thead, tbody {
	border: 1px solid #279643 !important;
}

a, a:hover {
	color: #01ff95 !important;
	text-decoration: underline !important;
}


::-webkit-scrollbar{
    width: 9px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    width: 9px;
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 9px;
    width: 9px;
    background-color: #fdf3f0 !important;

}

#gen {
	text-shadow: 0 0 14px #846054 !important;
	border: 1px solid #00ff2a !important;
	border-radius: 5px !important; 
	/*vertical-align: middle !important;*/
    word-break:break-all;
    word-wrap:break-word;
}
.generar {
	color: #0ecc00 !important;
}
.containerN {
	border: 2px solid white;
	box-shadow: inset 0 0 5px rgb(85, 218, 255), 0 0 10px rgb(85, 244, 255);
	border-radius: 60px;
	max-width: 450px;
	margin: auto;
	margin-top: 40px;
	padding: 25px;
	text-align: center;
	color: white;
  }
  
  .neon {
	font-family: "Dancing Script", cursive;
	margin: 0;
	font-size: 50px;
	text-shadow: 0 0 5px rgb(0, 208, 255), 0 0 15px rgb(0, 208, 255), 0 0 30px rgb(0, 208, 255), 0 0 50px rgb(0, 208, 255);
  }
  
  .neon2 {
	font-family: monospace;
	letter-spacing: 8px;
	margin: 0;
	font-size: 100px;
	text-shadow: 0 0 5px rgb(255, 0, 204), 0 0 15px rgb(255, 0, 195), 0 0 30px rgb(255, 0, 247);
  }
  
  .neon3 {
	font-family: monospace;
	margin: 0;
	font-size: 20px;
	text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
  }
  
  .flicker1 {
	animation: parpadear 2s infinite backwards steps(3);
  }
  .flicker2 {
	animation: parpadear 2.5s infinite backwards steps(4);
  }
  .flicker3 {
	animation: parpadear 1.5s infinite backwards steps(2);
  }
  
  @keyframes parpadear {
	to {
	  color: gray;
	  text-shadow: none;
	}
  }
